.All {
    height: 100vh;
    background-color: rgb(167, 196, 216);
}

.h-10 {
    height: 10%;
}

.h-30 {
    height: 30%;
}

.h-40 {
    height: 40%;
}

.h-60 {
    height: 60%;
}

.h-70 {
    height: 70%
}

.location-top-right {
    background-color: rgba(128, 128, 128, 0.3);

}

.location-top-left {
    background: url(https://www.shutterstock.com/image-vector/fictitious-generic-street-map-urban-600nw-2312834423.jpg);
    object-fit:scale-down;
}

.car-right {
    background-color: white;
}

.car-left {
    background-color: rgb(255, 255, 101);
}

.car-middle {
    background-color: midnightblue;
    color: white;
}

.weather-left {
    background-color: white;
}