/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.bg-custom {
  background-color: #b1daf5 !important;
}

html, body, #root {
  height: 100%;
}
